# Copia a local.properties (no versionar) y ajusta la URL base del HTTP API de AWS.
# Debe incluir el prefijo de etapa si aplica, y terminar SIN barra final.
# Ejemplo: https://abcd1234.execute-api.us-east-1.amazonaws.com
hexaminer.api.baseUrl=https://dfnjff8wn5.execute-api.us-east-1.amazonaws.com
